{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Zarejestruj nowe konto{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Login</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Hasło</label>
    <input type="password" name="password" id="password" required>
    <label for="magic">Kod klubu</label>
    <input type="text" name="magic" id="magic" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
